<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438743271143-fujdk792i92dsi4ldcvel2vdl43gkio1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438743271143-fujdk792i92dsi4ldcvel2vdl43gkio1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>438743271143-n0ennb2hugra1ic3d0u9653dmhmfcfin.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRxaHiqw5c9N92syVV_Td0DeIuzhpDhC0</string>
	<key>GCM_SENDER_ID</key>
	<string>438743271143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantsOrange</string>
	<key>PROJECT_ID</key>
	<string>plants-f127c</string>
	<key>STORAGE_BUCKET</key>
	<string>plants-f127c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438743271143:ios:91147adfc373c3a8d9c442</string>
</dict>
</plist>